/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.loginBox {
  border: 2px solid black;
  width: 250px;
  height: 200px;
  margin: auto;
  margin-top: 20px;
}

.signUpBox {
  border: 2px solid black;
  width: 300px;
  height: 300px;
  margin: auto;
  margin-top: 20px;
}

.username,
.password,
.confirmPassword {
  margin-right: 30px;
}
